{% extends './base.html' %}
{% block content %}
        <main>
            <div class="container mt-4">
                <h3>Liste d'enregistrements</h3>
                <table class="table border">
                    <tr>
                        <td>Photo</td>
                        <td>Nom</td>
                        <td>Post-nom</td>
                        <td>Prénom</td>
                        <td>Sexe</td>
                        <td>Email</td>
                        <td>Téléphone</td>
                        <td>Lieu de naissance</td>
                        <td>Date de naissance</td>
                        <td>Adresse</td>
                        <td>Voir</td>
                    </tr>
                    {% for user in users %}
                    <tr>
                        <td class="pb-3">
                            {% if user.photo %}
                            <img src="{{user.photo.url}}" width="50" alt="{{user.nom}}">
                            {% else %}
                            <img src="/static/img/ruben.jpg" width="50" alt="{{user.nom}}">
                            {% endif %}
                        </td>
                        <td class="pb-3">{{user.nom}}</td>
                        <td class="pb-3">{{user.postnom}}</td>
                        <td class="pb-3">{{user.prenom}}</td>
                        <td class="pb-3">{{user.sexe}}</td>
                        <td class="pb-3">{{user.email}}</td>
                        <td class="pb-3">{{user.telephone}}</td>
                        <td class="pb-3">{{user.lieu_naissance}}</td>
                        <td class="pb-3">{{user.date_naissance}}</td>
                        <td class="pb-3">{{user.adresse}}</td>
                        <td class="pb-3"><button class="btn-sm px-3 btn-info" onclick='show({{user.id}})'>Voir</button></td>
                    </tr>

                    <div id="{{user.id}}" class="card-view d-none">
                        <div class="d-flex">

                            <div class="card-item-1">
                                <div class="content">
                                    <div class="row align-items-center">
                                        <div class="col-2">
                                            <img src="/static/img/unikin.png" width="50" alt="unikin">
                                        </div>
                                        <div class="col-10 p-0">
                                            <h6 class="text-center">UNIVERSITE DE KINSHASA</h6>
                                            <h6 class="text-center">CARTE DE LA BIBLIOTHEQUE DE MEDECINE</h6>
                                        </div>
                                    </div>
                                    <hr class="my-2">
                                    <div class="row">
                                        <div class="col-3">
                                            {% if user.photo %}
                                            <img src="{{user.photo.url}}" style="width: 100%; height: 100px; object-fit: cover; object-position: top;" alt="">
                                            {% else %}
                                            <img src="/static/img/ruben.jpg" style="width: 100%; height: 100px; object-fit: cover; object-position: top;" alt="">
                                            {% endif %}
                                            
                                        </div>
                                        <div class="col-5 p-0">
                                            <small><b>Nom: {{user.nom}}</b></small>
                                            <small><b>Post-nom: {{user.postnom}}</b></small>
                                            <small><b>Prénom: {{user.prenom}}</b></small>
                                            <small><b>Email: {{user.email}}</b></small>
                                            <small><b>Lieu de naissance: {{user.lieu_naissance}}</b></small>
                                            <small><b>Date de naissance: {{user.date_naissance}}</b></small>
                                            <small><b>Adresse: {{user.adresse}}</b></small>
                                        </div>
                                        <div class="col-4">
                                            <small><b>Télephone: {{user.telephone}}</b></small>
                                            <small><b>Sexe: {{user.sexe}}</b></small>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <small>Fait à kinshasa, le {{user.date|date:'d/m/Y'}}</small>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <button class="btn btn-success">Imprimer</button> &nbsp;&nbsp;
                                    <button class="btn btn-danger" onclick='show({{user.id}})'>Fermer</button>
                                </div>
                            </div>

                            &nbsp;&nbsp;

                            <div class="card-item-2">
                                <div class="card">
                                    <div class="title">
                                        <div class="logo"><img src="/static/img/unikin.png" alt=""></div>
                                        <div>
                                            <h1>Université de Kinshasa</h1>
                                            <h2>Faculté de Médecine</h2>
                                            <h3>Laboratoire Général</h3>
                                        </div>
                                    </div>
                                    <div class="photo">
                                        {% if user.photo %}
                                        <img src="{{user.photo.url}}" alt="">
                                        {% else %}
                                        <img src="/static/img/ruben.jpg" alt="">
                                        {% endif %}
                                        
                                    </div>
                                    <div class="info">
                                        <div class="wrapper">
                                            <span class="head">Nom :</span>
                                            <span>{{user.nom}}</span>
                                        </div>
                                        <div class="wrapper">
                                            <span class="head">Postnom :</span>
                                            <span>{{user.postnom}}</span>
                                        </div>
                                        <div class="wrapper">
                                            <span class="head">Prénom :</span>
                                            <span>{{user.prenom}}</span>
                                        </div>
                                        <div class="wrapper">
                                            <span class="head">Sexe :</span>
                                            <span>{{user.sexe}}</span>
                                        </div>
                                        <div class="wrapper">
                                            <span class="head">Date de naissance :</span>
                                            <span>{{user.date_naissance}}</span>
                                        </div>
                                        <div class="wrapper">
                                            <span class="head">Téléphone :</span>
                                            <span>{{user.telephone}}</span>
                                        </div>
                                        <div class="wrapper">
                                            <span class="head">Adresse :</span>
                                            <span>{{user.adresse}}</span>
                                        </div>
                                    </div>
                                    <div class="qrCode">
                                        <div id="qrcode"></div>
                                        <div class="depInfo">
                                            <h2>Carte d'étudiant</h2>
                                            <div>
                                                <span class="first">Grade/Promotion :</span>
                                                <span>P6/847125</span>
                                            </div>
                                            <div>
                                                <span class="first">Dept./Filiaire :</span>
                                                <span>Pharmacie</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <button class="btn btn-success">Imprimer</button> &nbsp;&nbsp;
                                    <button class="btn btn-danger" onclick='show({{user.id}})'>Fermer</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endfor %}
                </table>
            </div>
        </main>
        
        <script>
            function show (id) {
                let elt = document.getElementById(id);
                elt.classList.toggle('d-none')
            }
            
        </script>
{% endblock %}